{% extends "base.html" %}
{% load static %}

{% block body %}
<main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                        <h1>Edupage</h1>
                        <p>Образовательная платформа для управления расписанием, домашними заданиями и успеваемостью.
                            Удобный доступ через мобильные устройства и быстрые уведомления обеспечивают эффективное
                            взаимодействие учеников, учителей и родителей.</p>
                    </div>
                </div>
            </div>
        </div>
        <nav class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="{% url 'index' %}">Главная</a></li>
                    <li class="current">Edupage</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Page Title -->

    <!-- Portfolio Details Section -->
    <section id="portfolio-details" class="portfolio-details section">

        <div class="container" data-aos="fade-up">

            <div class="post-img text-center">
                <img src="{% static 'assets/img/преимущества/edu.png' %}" alt="" class="img-fluid">
            </div>

            <div class="row justify-content-between gy-4 mt-4">

                <div class="col-lg-8" data-aos="fade-up">
                    <div class="portfolio-description">
                        <h2>EDUPAGE - Полное решение для современной школы</h2>
                        <div class="content lh-lg">
                            <p>
                                EduPage — это передовая образовательная платформа, созданная для того, чтобы упростить
                                организацию учебного процесса и улучшить взаимодействие между учениками, учителями и
                                родителями. С помощью платформы можно в одном месте управлять расписанием занятий,
                                контролировать выполнение домашних заданий, следить за успеваемостью и мгновенно
                                получать уведомления о важных событиях.
                            </p>

                            <h3>Почему выбирают EduPage?</h3>

                            <h5>1. Удобное расписание уроков</h5>
                            <p>
                                Забудьте о бумажных дневниках и сложных таблицах. С EduPage все уроки, изменения в
                                расписании и дополнительные занятия доступны онлайн в реальном времени. Ученики и
                                родители всегда в курсе предстоящих уроков и возможных корректировок.
                            </p>
                            <h5>2. Контроль домашних заданий</h5>
                            Учителя могут легко добавлять задания, устанавливать дедлайны и проверять выполненные
                            работы, а ученики могут просматривать список своих заданий в любое время. Это повышает
                            дисциплину и помогает эффективнее управлять учебным временем.

                            <h5>3. Мониторинг успеваемости</h5>
                            <p>
                                Родители и ученики могут отслеживать оценки и общий прогресс в обучении через удобный
                                интерфейс. Все данные о достижениях и трудностях учащихся доступны в одном месте, что
                                помогает вовремя реагировать на любые проблемы.
                            </p>
                            <h5>4. Оперативные уведомления</h5>
                            <p>
                                Платформа обеспечивает мгновенное информирование обо всех важных изменениях, будь то
                                отмена урока, внеплановые мероприятия или обновление оценок. Больше никаких неожиданных
                                ситуаций — EduPage держит вас в курсе всего.
                            </p>
                            <h5>5. Доступ с любого устройства</h5>
                            <p>
                                EduPage доступен через мобильные приложения и веб-версию, что позволяет ученикам и
                                родителям получать важную информацию из любой точки мира. Независимо от того, дома ли
                                вы, в школе или в дороге — доступ к учебе всегда под рукой.
                            </p>

                        </div><!-- End post content -->
                    </div>
                </div>

                <div class="col-lg-3" data-aos="fade-up" data-aos-delay="100">
                    <div class="portfolio-info">
                        <h3>Инфо</h3>
                        <ul>
                            <li><strong>Категория</strong> Образование</li>
                            <li><strong>С</strong> 1 сентября 2018 года</li>
                            <li><strong>Ссылка на наш Edupage</strong> <a href="#">https://seytek-stem.edupage.org/</a>
                            </li>
                            <li><a href="https://seytek-stem.edupage.org/" class="btn-visit align-self-start">Посетить
                                вебсайт</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            {% url '
        </div>

    </section><!-- /Portfolio Details Section -->
    </div>

    </div>

    </div>
    </div>

</main>
{% endblock body %}

